<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" [disabled]="!allowNewMessage" (click)="onCreateMessage()">Button :D</button>
        <!-- String Interpolation -->
        <p>String Interpolation: <span>{{ allowNewMessage }}</span></p>
        <!-- Property Binding -->
        <p>Property Binding: <span [innerText]="allowNewMessage"></span></p>
        <!-- Event Binding -->
        <p >Event Binding: </p>
        <button class="btn btn-success" (click)="onCreateMessage()">Create Message!</button>
        <br>
        <!-- <p> {{ messageCreationStatus }} </p> -->
        <p *ngIf="messageCreated; else noMessage">Message was created, message is: {{ messageName }}</p>
        <ng-template #noMessage>
            <p>No message was created!</p>
        </ng-template>
        <!-- Passing and using data with event binding. -->
        <label>Message Name</label>
        <input
            type="text"
            class="form-control"
            (input) = "onUpdateMessageName($event)"
        >
        <!-- <p> Dynamic Message: {{ messageName }} </p> -->
        <br>
        <input
            type="text"
            class="form-control"
            [(ngModel)]="messageName"
        >
        <!-- <p> Dynamic Message - Two Way Binding: {{ messageName }} </p> -->
    </div>
</div>
